<div class="dialog-content-wrapper">
    <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex>
        <div
            fxLayout="column"
            fxLayoutAlign="center end"
            fxFlex="60px"
            class="mx-12"
        ></div>
        <div
            fxLayout="column"
            fxLayoutAlign="center center"
            style="margin: 10px"
            fxLayoutGap="20px"
            fxFlex
        >
            <mat-progress-spinner
                mode="indeterminate"
                color="accent"
                diameter="60"
            >
            </mat-progress-spinner>
            <mat-label class="dialog-text"
                >Saving the order. Please wait</mat-label
            >
        </div>
    </div>
</div>
