<div *ngIf="items.length > 0" [formGroup]="orderForm">
    <div formArrayName="orderProducts" fxLayout="column" fxLayoutGap="10px">
        <div
            fxLayout="column"
            fxLayoutAlign="center stretch"
            *ngFor="let item of items; let i = index"
        >
            <div
                fxLayout="row"
                fxLayoutAlign="center center"
                [formGroupName]="i"
            >
                <order-item
                    [enable]="canDelete"
                    [itemFormGroup]="item"
                    [index]="i"
                    [orderForm]="orderForm"
                    (quantityChange)="quantityChange()"
                ></order-item>
                <button
                    *ngIf="canDelete"
                    mat-icon-button
                    color="warn"
                    (click)="delete(item.value)"
                >
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>
